* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
	color: #ececec;
	background-color: #0a0909;
  font-family: Arial, sans-serif;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 35px;
  font-weight: normal;
}

h3 {
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
	float: left;
}

div {
  /*border: 2px #383838 solid*/
}

footer {

}

main{
}

.center-content {
  min-width: 320px;
  max-width: 1200px;
  margin: auto;
}

.header-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  padding-right: 40px;
  padding-left: 40px;
}

.project-container {
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-content: center;
  grid-gap: 20px;
  padding-right: 40px;
  padding-left: 40px;

}

.name {

}

.title {
  color: #e37001;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.nav-links {
	text-align: right;
}

.project-thumb > img{
	object-fit: contain;
	width: 100%;
}

.project-thumb > h3{
  text-align: center;
}

h3.project-title{
  color: #929292;
  font-size: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.spacer01 {
	padding-top: 40px;
}

.spacer02 {
	padding-top: 40px;
}

.spacer03 {
	padding-top: 40px;
}

.box {
  background-color: #191919;
  color: white;
  border-radius: 5px;
  border: 2px #262626 solid;
}





