* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
	color: #ececec;
	background-color: #0a0909;
  font-family: Arial, sans-serif;
}

h1 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 35px;
  font-weight: normal;
}

h3 {
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
	float: left;
}

div {
  /*border: 2px #383838 solid*/
}

header {
  background-color: #0f0f0f;
  padding-top: 40px;
  padding-bottom: 20px;
}

footer {
  background-color: #0f0f0f;
  padding-top: 40px;
  padding-bottom: 20px;
  color: #929292;
  text-align: center;
  font-size: 12px;
}

main{
}

.center-content {
  min-width: 320px;
  max-width: 1200px;
  margin: auto;
}

.header-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
  padding-right: 50px;
  padding-left: 50px;
}

.front-page-container {
	display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-content: center;
  grid-gap: 20px;
  padding-right: 50px;
  padding-left: 50px;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr;
  padding-right: 50px;
  padding-left: 50px;
}

a{
  color: #909090;
}

.name a {
  color: white;
}

a:hover{
  color: #e37001;
}

.name a:hover{
  color: #d1d1d1;
}

.nav-links a:hover{
  color: #e37001;
}

a:link{
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  text-decoration: none;
}

.title {
  color: #e37001;
  font-family: 'Fira Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.nav-links {
  font-family: 'Fira Sans', sans-serif;
	text-align: right;
  word-spacing: 1em;
  font-size: .9em;
}

div .grid-cell-title{
  background-color: #191919;
}

.project-thumb img{
	object-fit: contain;
	width: 100%;
}

.project-thumb h3{
  text-align: center;
  /*background-color: #191919;*/
}

h3.project-title{
  color: #929292;
  font-size: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
}

h3.job-title{
  color: #929292;
  font-size: 20px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.project-image > img{
  display:block;
  margin:auto;
  padding-top : 20px;
  max-width: 100%;
  height:auto;
  overflow: hidden;
}

.spacer {
	padding-top: 40px;
}

.border-right{
  border-right: 2px solid #ececec;
}

.box {
  display: grid;
  grid-template-rows: 2fr 28px;

  color: white;
  border-radius: 5px;
  border: 2px #262626 solid;
}

.three-item-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.three-item-column {
  display: grid;
  grid-template-rows: 1fr;
}

.two-item-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4px;
}

.two-item-row-about {
  display: grid;
  grid-template-columns: 1fr minmax(100px, 400px) minmax(100px, 400px) 1fr;
}

.about-me {
  grid-column: 2 / span 1;
}

.resume {
  column-span:;
}

.one-item-row {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px;
}

.center-text {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.about-margin-right {
  margin-right: 25px;
}

.about-margin-left {
  margin-left: 25px;
}

.project-container > div {
  /*border: 2px dashed red;*/
}

.three-item-column div{
  /*border: 2px dashed green;*/
}

.one-item-row > div{
  /*border: 2px dashed green;*/
}
.two-item-row > div{
  /*border: 2px dashed green;*/
}

.two-item-row-about > div{
  /*border: 2px dashed green;*/
}

.scale-image {
  display: block;
  /*max-width: 50%;*/
  margin: auto;
  padding: 5px;
}

button[type=gumroad-button] {
  width: 300px;
  height: 75px;
  font-size: 20px;
  margin: 20px;
}

button {
  background-color: #474747;
  border: 1px black solid;
  border-radius: 3px;
  color: white;
  text-align: center;
}

.resize-photo {
  width: 11%;
}





